<style>
    .widget {
        clear: both;
        margin-bottom: 10px;
        border-radius: 5PX;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    }

    .d_textbanner div.style03 {
        color: #5cb85c;
    }

    .d_textbanner div {
        display: block;
        padding: 0 15px 15px;
    }

    .d_textbanner div.style03 strong {
        border-radius: 5px 0;
        background-color: #5cb85c;
    }

    .d_textbanner div.style03 {
        color: #5cb85c;
    }

    .d_textbanner div strong {
        display: inline-block;
        margin: -1px 0 0 -16px;
        padding: 3px 15px 4px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
    }

    .d_textbanner div h2 {
        font-weight: 400;
        font-size: 16px;
        padding-top: 10px;
    }

    .d_textbanner div p {
        margin-bottom: 0;
        color: #999;
        font-size: 14px;
    }

    .style03 img {
        width: auto \9;
        height: auto;
        max-width: 100%;
        border: 0;
        border-radius: 5px;
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }
</style>
<div class="widget d_textbanner">
    <div class="style03">
        <strong>赞助开发</strong>
        <h2>支持一下作者</h2>
        <p>
            请留下赞助人姓名和联系人方式，如需帮助，我会优先解决您的问题！
            <br>
            您的支持是我们最大的动力！
            <br>
            <img src="https://data.ijson.net/images/zfb.png">
        </p>
    </div>
</div>