<div class="panel b-a">
    <div class="panel-heading bg-orang dk no-border wrapper-lg">
        <a href="https://www.weibo.com/${user.weibo}" target="_blank">
            <button class="btn btn-sm btn-icon   pull-right m-r btn-rounded" title="点击跳转到微博"><i class="fa fa-weibo"></i></button>
        </a>
        <a href="#">
            <button class="btn btn-sm btn-icon btn-rounded  m-l lsow-icon-list" tooltip-placement="left"><i class="fa fa-weixin"></i></button>
        </a>
    </div>


    <script type="text/ng-template" id="myTooltipTemplate.html">
        <div><img src="#"></div>
    </script>


    <div class="text-center m-b clearfix">
        <div class="thumb-lg avatar m-t-n-xxl">
            <img src="https://data.ijson.net/avatar.jpg" alt="..."
                 class="b b-3x b-white">
            <div class="h4 font-thin m-t-sm">${user.cname}</div>
        </div>
    </div>
    <%if(site.showAdminInfo){%>
    <div class=" b-t b-light bg-light lter row text-left no-gutter">
        <div class="col-sm-12 blog-right-data">

            <% if(user.email!=null && array.contain(site.showAdminFields,"email")){%>
                <a href="mailto:${user.email}" target="_blank" class="list-group-item">
                    <i class="fa fa-envelope fa-fw m-r-xs"></i> ${user.email}
                </a>
            <%}%>


            <% if(user.twitter!=null && array.contain(site.showAdminFields,"twitter")){%>
                <a href="https://twitter.com/${user.twitter}" target="_blank" class="list-group-item">
                    <i class="fa fa-twitter fa-fw m-r-xs"></i> ${user.twitter}
                </a>
            <%}%>


            <% if(user.facebook!=null && array.contain(site.showAdminFields,"facebook")){%>
                <a href="https://www.facebook.com/${user.facebook}" target="_blank" class="list-group-item">
                    <i class="fa fa-facebook fa-fw m-r-xs"></i> ${user.facebook}
                </a>
            <%}%>

            <% if(user.school!=null && array.contain(site.showAdminFields,"school")){%>
                <a href="${user.schoolLink}" target="_blank" class="list-group-item">
                    <i class="fa fa-graduation-cap fa-fw m-r-xs"></i> ${user.school}
                </a>
            <%}%>


            <% if(user.profession!=null && array.contain(site.showAdminFields,"profession")){%>
            <a href="#" class="list-group-item">
                <i class="fa fa-book fa-fw m-r-xs"></i> ${user.profession}
            </a>
            <%}%>

            <% if(user.mobile!=null && array.contain(site.showAdminFields,"mobile")){%>
            <a href="#" class="list-group-item">
                <i class="fa fa-mobile fa-fw m-r-xs"></i> ${user.mobile}
            </a>
            <%}%>

            <% if(user.weibo!=null && array.contain(site.showAdminFields,"weibo")){%>
            <a href="#" class="list-group-item">
                <i class="fa fa-weibo fa-fw m-r-xs"></i> ${user.weibo}
            </a>
            <%}%>

            <% if(user.qq!=null && array.contain(site.showAdminFields,"qq")){%>
            <a href="#" class="list-group-item">
                <i class="fa fa-qq fa-fw m-r-xs"></i> ${user.qq}
            </a>
            <%}%>


            <% if(user.wechat!=null && array.contain(site.showAdminFields,"wechat")){%>
            <a href="#" class="list-group-item">
                <i class="fa fa-wechat fa-fw m-r-xs"></i> ${user.wechat}
            </a>
            <%}%>



            <% if(user.beginJobTime!=null && array.contain(site.showAdminFields,"beginJobTime")){%>
            <a href="#" class="list-group-item">
                <i class="fa fa-calendar fa-fw m-r-xs"></i>工作开始时间: ${user.beginJobTime}
            </a>
            <%}%>


            <% if(user.endJobTime!=null && array.contain(site.showAdminFields,"endJobTime")){%>
            <a href="#" class="list-group-item">
                <i class="fa fa-calendar fa-fw m-r-xs"></i> 工作结束时间: ${user.endJobTime}
            </a>
            <%}%>

        </div>
    </div>
    <%}%>
    <div class="hbox text-center b-t b-light">
        <a href="" class="col padder-v text-muted b-r b-light">
            <div class="h4">${total}</div>
            <span>文章</span>
        </a>
        <a href="" class="col padder-v text-muted">
            <div class="h4">${webSiteCount}</div>
            <span>博客访问量</span>
        </a>
    </div>
</div>