<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ijson.blog"/>

    <bean id="restServiceProxyFactory" class="com.ijson.rest.proxy.RestServiceProxyFactory"
          p:configName="in-blog-rest" init-method="init"/>


    <bean id="qqConnect" class="com.ijson.rest.proxy.RestServiceProxyFactoryBean"
          p:type="com.ijson.blog.remote.resource.QQConnectResource">
        <property name="factory" ref="restServiceProxyFactory"/>
    </bean>


    <bean class="com.ijson.blog.remote.proxy.QQConnectProxy">
        <property name="qqConnectResource" ref="qqConnect"/>
    </bean>

</beans>