<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="请输入...">
                <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree">

            <%if(array.contain(session.authContext.permissionEname,"﻿admin_console_page")){%>
            <li>
                <a href="/admin/console/page">
                    <i class="fa fa-home"></i> <span>首页</span>
                </a>
            </li>
            <%}%>


            <%if(array.contain(session.authContext.permissionEname,"admin_post_root")){%>
            <li class="treeview ${admin_post_root_active!}">
                <a href="#">
                    <i class="fa fa-file-text"></i>
                    <span>文章</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>

                <ul class="treeview-menu">

                    <%if(array.contain(session.authContext.permissionEname,"admin_post_add_page")){%>
                    <li class="${admin_post_add_page_active!}">
                        <a href="/admin/post/add/page"><i class="fa fa-edit"></i>新建/编辑文章</a>
                    </li>
                    <%}%>


                    <%if(array.contain(session.authContext.permissionEname,"admin_post_list_page")){%>
                    <li class="${admin_post_list_page_active!}">
                        <a href="/admin/post/list/page"><i class="fa fa-list-ol"></i>文章列表</a>
                    </li>
                    <%}%>

                    <%if(array.contain(session.authContext.permissionEname,"admin_draft_list_page")){%>
                    <li class="${admin_draft_list_page_active!}">
                        <a href="/admin/draft/list/page"><i class="fa fa-list-ul"></i>草稿列表
                            <span class="pull-right-container">
                                <small class="label pull-right bg-teal">new</small>
                            </span>
                        </a>
                    </li>
                    <%}%>
                </ul>
            </li>
            <%}%>

            <%if(array.contain(session.authContext.permissionEname,"admin_org_root")){%>
            <li class="treeview ${admin_org_root_active!}">

                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>组织架构</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>


                <ul class="treeview-menu">

                    <%if(array.contain(session.authContext.permissionEname,"admin_role_page")){%>
                    <li class="${admin_role_page_active!}"><a href="/admin/role/page"><i class="fa fa-vcard"></i>角色管理</a></li>
                    <%}%>

                    <%if(array.contain(session.authContext.permissionEname,"admin_user_page")){%>
                    <li class="${admin_user_page_active!}"><a href="/admin/user/page"><i class="fa fa-user-plus"></i>用户管理</a></li>
                    <%}%>
                </ul>
            </li>
            <%}%>

            <%if(array.contain(session.authContext.permissionEname,"admin_system_root")){%>
            <li class="treeview ${admin_system_root_active!}">

                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>系统设置</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>


                <ul class="treeview-menu">
                    <%if(array.contain(session.authContext.permissionEname,"admin_i_config_page")){%>
                    <li class="${admin_i_config_page_active!}"><a href="/admin/i/config/page"><i class="fa fa-wrench"></i>我的设置</a></li>
                    <%}%>

                    <%if(array.contain(session.authContext.permissionEname,"admin_friendly_link_page")){%>
                    <li class="${admin_friendly_link_page_active!}"><a href="/admin/friendly/link/page"><i class="fa fa-link"></i>友情链接</a></li>
                    <%}%>
                </ul>
            </li>
            <%}%>
        </ul>
    </section>
</aside>