<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include("base/web-settings-meta.html"){} %>
    <title>${site.siteName!}-${data.title!}</title>
    <link href="/css/atom-one-dark.min.css" rel="stylesheet">
    <link href="/comment/style.css" rel="stylesheet">
    <link href="/comment/comment.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css" rel="stylesheet">

</head>


<body>
<% include("base/web-settings-top-nav.html"){} %>
<% include("base/web-settings-reg-login.html"){} %>


<div class="container">

    <div class="row">
        <div class="blog-header"></div>


        <div class="col-sm-9 blog-main">

            <div class="blog-post">

                <header class="kratos-entry-header">
                    <h1 class="kratos-entry-title text-center">${data.title}</h1>
                    <div class="kratos-post-meta text-center">
                    <span>
                    <i class="fa fa-calendar"></i> ${data.createTime!,dateFormat="yyyy-MM-dd HH:mm"}  <i
                            class="fa fa-commenting-o"></i> ${data.reply}条评论                    <i
                            class="fa fa-eye"></i> ${data.views}次阅读
                    <span class="hd">
                    <i class="fa fa-thumbs-o-up"></i> ${data.pros}人点赞 <i class="fa fa-user"></i> ${data.userCname}                    </span>
                    </span>
                    </div>
                </header>

                <div class="kratos-post-content">
                    ${data.content}
                </div>
                <div class="kratos-copyright text-center clearfix">
                    <h5>本作品采用 <a rel="license nofollow" target="_blank"
                                 href="http://creativecommons.org/licenses/by-sa/4.0/">知识共享署名-相同方式共享 4.0 国际许可协议</a> 进行许可
                    </h5>
                </div>


                <footer class="kratos-entry-footer clearfix">
                    <div class="post-like-donate text-center clearfix" id="post-like-donate">
                        <!--
                                                <a href="javascript:;" class="Donate"><i class="fa fa-bitcoin"></i> 打赏</a>
                        -->

                        <a href="javascript:;" id="praise" data-action="love" data-id="3080" class="Love done share-btn"
                           onclick="praise('${data.ename}','${data.shamId}')"><i class="fa fa-thumbs-o-up"></i> 点赞</a>


                        <a href="javascript:;" class="Share share-btn"><i class="fa fa-share-alt"></i> 分享</a>
                        <div class="share-wrap" style="display: none;">
                            <div class="social-share"
                                 data-wechat-qrcode-title="微信扫一扫：分享一下"
                                 data-weibo-title="${data.title}"
                                 data-douban-title="${data.title}"
                                 data-linkedin-title="${data.title}"
                                 data-facebook-title="${data.title}"
                                 data-twitter-title="${data.title}"
                                 data-google-title="${data.title}"
                                 data-disabled="tencent,diandian,qzone"
                                 data-description='${data.intro}'
                                 data-image="${data.imageUrl}"></div>
                        </div>
                    </div>
                    <div class="footer-tag clearfix">
                        <div class="pull-left">
                            <%if(data.topics!=null){%>
                            <i class="fa fa-tags"></i>

                            <%for(topic in data.topics!){%>
                            <a href="/tags/${topic.ename}/tags/${topic.shamId}.html" rel="tag">${topic.name}</a>
                            <%}%>
                            <%}%>
                        </div>

                        <div class="pull-date">
                            <span>最后编辑：${data.lastModifiedTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}</span>
                        </div>
                    </div>
                </footer>


            </div>


            <%if(site.openCmt){%>

            <div class="comments" id="comments">
                <div class="comm-main">
                    <% if(isEmpty(session.authContext)){%>
                    <div>您还没有登录，请先<a data-toggle="modal" data-target="#login" href="#"><i class="fa fa-sign-in"></i> 登录</a>或者<a
                            data-toggle="modal" data-target="#register" href="#"><i class="fa fa-sign-in"></i> 注册</a>后,添加评论
                    </div>
                    <%}else{%>
                        <div class="commentAll">
                            <!--评论区域 begin-->
                            <div class="reviewArea clearfix">
                                <textarea class="content comment-input" placeholder="请输入评论内容&hellip;" onkeyup="keyUP(this)"></textarea>
                                <a href="javascript:;" class="plBtn">评论</a>
                            </div>
                            <!--评论区域 end-->
                            <!--回复区域 begin-->
                            <div class="comment-show">
                                <div class="comment-show-con clearfix">
                                    <div class="comment-show-con-img pull-left"><img src="https://www.17sucai.com/preview/1/2017-05-26/WbPl/images/header-img-comment_03.png" alt=""></div>
                                    <div class="comment-show-con-list pull-left clearfix">
                                        <div class="pl-text clearfix">
                                            <a href="#" class="comment-size-name">张三 : </a>
                                            <span class="my-pl-con">&nbsp;来啊 造作啊!</span>
                                        </div>
                                        <div class="date-dz">
                                            <span class="date-dz-left pull-left comment-time">2017-5-2 11:11:39</span>
                                            <div class="date-dz-right pull-right comment-pl-block">
                                                <a href="javascript:;" class="removeBlock">删除</a>
                                                <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                                                <span class="pull-left date-dz-line">|</span>
                                                <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a>
                                            </div>
                                        </div>
                                        <div class="hf-list-con"></div>
                                    </div>
                                </div>
                            </div>
                            <!--回复区域 end-->
                        </div>

                    <%}%>
                </div>
            </div>

            <%}%>

        </div><!-- /.blog-main -->

        <div class="col-sm-3  blog-right">
            <% include("base/web-settings-blog-admin-info.html"){} %>
            <% include("base/index-list-blogroll.html"){} %>
            <% include("base/index-list-hot-article.html"){} %>
            <% include("base/index-list-hot-tag.html"){} %>
            <% include("base/index-list-rece-publish.html"){} %>
        </div>


    </div><!-- /.row -->

</div><!-- /.container -->


<% include("base/web-settings-footer.html"){} %>

<% include("base/web-settings-bottom.html"){} %>
<script src="/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
<script type="text/javascript" src="/js/jquery.flexText.js"></script>

<script>
    hljs.initHighlightingOnLoad();

    function praise(ek, id) {
        var kprais = getCookie(ek + "_" + id + "_praise");
        if (kprais) {
            toastr.warning('您已经支持过了');
            return;
        }
        $.ajax({
            cache: false,
            type: "POST",
            contentType: 'application/json',
            url: "/article/rest/" + ek + "/praise/" + id,
            async: false,
            success: function (data) {
                if (data.code === 0) {
                    toastr.success(data.message);
                } else {
                    toastr.warning(data.message);
                }
            },
            error: function (data) {
                toastr.error(data.message);
            }
        });
    }

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr === document.cookie.match(reg)) {
            return unescape(arr[2]);
        } else {
            return null;
        }
    }

    $(document).on("click", ".Share", function () {
        $(".share-wrap").fadeToggle("slow");
    });
</script>

<%if(site.openCmt){%>
<script>
    function toastrwarn(message) {
        toastr.warning(message)
    }
</script>

<!--textarea高度自适应-->
<script type="text/javascript">
    $(function () {
        $('.content').flexText();
    });
</script>
<!--textarea限制字数-->
<script type="text/javascript">
    function keyUP(t){
        var len = $(t).val().length;
        if(len > 139){
            $(t).val($(t).val().substring(0,140));
        }
    }
</script>
<!--点击评论创建评论条-->
<script type="text/javascript">
    $('.commentAll').on('click','.plBtn',function(){
        var myDate = new Date();
        //获取当前年
        var year=myDate.getFullYear();
        //获取当前月
        var month=myDate.getMonth()+1;
        //获取当前日
        var date=myDate.getDate();
        var h=myDate.getHours();       //获取当前小时数(0-23)
        var m=myDate.getMinutes();     //获取当前分钟数(0-59)
        if(m<10) m = '0' + m;
        var s=myDate.getSeconds();
        if(s<10) s = '0' + s;
        var now=year+'-'+month+"-"+date+" "+h+':'+m+":"+s;
        //获取输入内容
        var oSize = $(this).siblings('.flex-text-wrap').find('.comment-input').val();
        console.log(oSize);
        //动态创建评论模块
        oHtml = '<div class="comment-show-con clearfix"><div class="comment-show-con-img pull-left"><img src="images/header-img-comment_03.png" alt=""></div> <div class="comment-show-con-list pull-left clearfix"><div class="pl-text clearfix"> <a href="#" class="comment-size-name">David Beckham : </a> <span class="my-pl-con">&nbsp;'+ oSize +'</span> </div> <div class="date-dz"> <span class="date-dz-left pull-left comment-time">'+now+'</span> <div class="date-dz-right pull-right comment-pl-block"><a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a> </div> </div><div class="hf-list-con"></div></div> </div>';
        if(oSize.replace(/(^\s*)|(\s*$)/g, "") !== ''){
            $(this).parents('.reviewArea ').siblings('.comment-show').prepend(oHtml);
            $(this).siblings('.flex-text-wrap').find('.comment-input').prop('value','').siblings('pre').find('span').text('');
        }
    });
</script>
<!--点击回复动态创建回复块-->
<script type="text/javascript">
    $('.comment-show').on('click','.pl-hf',function(){
        //获取回复人的名字
        var fhName = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        //回复@
        var fhN = '回复@'+fhName;
        //var oInput = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.hf-con');
        var fhHtml = '<div class="hf-con pull-left"> <textarea class="content comment-input hf-input" placeholder="" onkeyup="keyUP(this)"></textarea> <a href="javascript:;" class="hf-pl">评论</a></div>';
        //显示回复
        if($(this).is('.hf-con-block')){
            $(this).parents('.date-dz-right').parents('.date-dz').append(fhHtml);
            $(this).removeClass('hf-con-block');
            $('.content').flexText();
            $(this).parents('.date-dz-right').siblings('.hf-con').find('.pre').css('padding','6px 15px');
            //console.log($(this).parents('.date-dz-right').siblings('.hf-con').find('.pre'))
            //input框自动聚焦
            $(this).parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val(fhN);
        }else {
            $(this).addClass('hf-con-block');
            $(this).parents('.date-dz-right').siblings('.hf-con').remove();
        }
    });
</script>
<!--评论回复块创建-->
<script type="text/javascript">
    $('.comment-show').on('click','.hf-pl',function(){
        var oThis = $(this);
        var myDate = new Date();
        //获取当前年
        var year=myDate.getFullYear();
        //获取当前月
        var month=myDate.getMonth()+1;
        //获取当前日
        var date=myDate.getDate();
        var h=myDate.getHours();       //获取当前小时数(0-23)
        var m=myDate.getMinutes();     //获取当前分钟数(0-59)
        if(m<10) m = '0' + m;
        var s=myDate.getSeconds();
        if(s<10) s = '0' + s;
        var now=year+'-'+month+"-"+date+" "+h+':'+m+":"+s;
        //获取输入内容
        var oHfVal = $(this).siblings('.flex-text-wrap').find('.hf-input').val();
        console.log(oHfVal)
        var oHfName = $(this).parents('.hf-con').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        var oAllVal = '回复@'+oHfName;
        if(oHfVal.replace(/^ +| +$/g,'') === '' || oHfVal === oAllVal){

        }else {
            $.getJSON("/json/pl.json",function(data){
                var oAt = '';
                var oHf = '';
                $.each(data,function(n,v){
                    delete v.hfContent;
                    delete v.atName;
                    var arr;
                    var ohfNameArr;
                    if(oHfVal.indexOf("@") === -1){
                        data['atName'] = '';
                        data['hfContent'] = oHfVal;
                    }else {
                        arr = oHfVal.split(':');
                        ohfNameArr = arr[0].split('@');
                        data['hfContent'] = arr[1];
                        data['atName'] = ohfNameArr[1];
                    }

                    if(data.atName === ''){
                        oAt = data.hfContent;
                    }else {
                        oAt = '回复<a href="#" class="atName">@'+data.atName+'</a> : '+data.hfContent;
                    }
                    oHf = data.hfName;
                });

                var oHtml = '<div class="all-pl-con"><div class="pl-text hfpl-text clearfix"><a href="#" class="comment-size-name">我的名字 : </a><span class="my-pl-con">'+oAt+'</span></div><div class="date-dz"> <span class="date-dz-left pull-left comment-time">'+now+'</span> <div class="date-dz-right pull-right comment-pl-block"> <a href="javascript:;" class="removeBlock">删除</a> <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> <span class="pull-left date-dz-line">|</span> <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num">666</i>)</a> </div> </div></div>';
                oThis.parents('.hf-con').parents('.comment-show-con-list').find('.hf-list-con').css('display','block').prepend(oHtml) && oThis.parents('.hf-con').siblings('.date-dz-right').find('.pl-hf').addClass('hf-con-block') && oThis.parents('.hf-con').remove();
            });
        }
    });
</script>
<!--删除评论块-->
<script type="text/javascript">
    $('.commentAll').on('click','.removeBlock',function(){
        var oT = $(this).parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con');
        if(oT.siblings('.all-pl-con').length >= 1){
            oT.remove();
        }else {
            $(this).parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con').parents('.hf-list-con').css('display','none')
            oT.remove();
        }
        $(this).parents('.date-dz-right').parents('.date-dz').parents('.comment-show-con-list').parents('.comment-show-con').remove();

    })
</script>
<!--点赞-->
<script type="text/javascript">
    $('.comment-show').on('click','.date-dz-z',function(){
        var zNum = $(this).find('.z-num').html();
        if($(this).is('.date-dz-z-click')){
            zNum--;
            $(this).removeClass('date-dz-z-click red');
            $(this).find('.z-num').html(zNum);
            $(this).find('.date-dz-z-click-red').removeClass('red');
        }else {
            zNum++;
            $(this).addClass('date-dz-z-click');
            $(this).find('.z-num').html(zNum);
            $(this).find('.date-dz-z-click-red').addClass('red');
        }
    })
</script>
<%}%>

</body>
</html>
