<!DOCTYPE html>
<html>
<head>
    <% include("base/meta.html"){} %>
    <title> 作者后台管理 | 仪表盘</title>
</head>
<body class="sidebar-mini skin-yellow-light">
<div class="wrapper">

    <% include("base/header.html"){} %>

    <% include("base/menu.html"){} %>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                仪表盘
                <small>Version 0.0.1</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">仪表盘</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-file-word-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">文章发表总数</span>
                            <span class="info-box-number">${consoleData.publishTotal}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-mouse-pointer"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">文章阅读数</span>
                            <span class="info-box-number">${consoleData.readTotal}</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-commenting-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">文章评论数</span>
                            <span class="info-box-number">${consoleData.commentTotal}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-file-text"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">当日文章发表总数</span>
                            <span class="info-box-number">${consoleData.todayPublishTotal}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include("base/footer.html"){} %>

</div>
    <% include("base/bottom.html"){} %>
</body>
</html>
