<!DOCTYPE html>
<html>
<head>
    <% include("base/meta.html"){} %>
    <title> 作者后台管理 | 文章新建</title>
</head>
<body class="sidebar-mini skin-yellow-light">
<div class="wrapper">

    <% include("base/header.html"){} %>
    <link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/atom-one-dark.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">



    <% include("base/menu.html"){} %>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                新建/编辑 文章
                <small>Version 1.0.1</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">新建/编辑文章</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <!--<div class="box-header">-->

                        <!--&lt;!&ndash; tools box &ndash;&gt;-->
                        <!--<div class="pull-right box-tools">-->
                        <!--<button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"-->
                        <!--title="Collapse">-->
                        <!--<i class="fa fa-minus"></i></button>-->
                        <!--<button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"-->
                        <!--title="Remove">-->
                        <!--<i class="fa fa-times"></i></button>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /. tools &ndash;&gt;-->
                        <!--</div>-->
                        <!-- /.box-header -->
                        <div class="box-body pad">
                            <form id="postDetail" class="form-horizontal">
                                <input type="hidden" name="id" id="id" value="${editData.id!}">
                                <div class="box-body">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="title" name="title" required="required" value="${editData.title!}"
                                                   placeholder="请填写文章标题">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea id="content" name="content" rows="10" cols="80" required="required"
                                                      placeholder="请填写文章内容">${editData.content!}</textarea>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-12">

                                            <input type="text" class="form-control tags" id="topicName" name="topicName" value="${editData.topicName!}" required="required" placeholder="请填写或选择标签,目前只支持单标签">
                                        </div>
                                    </div>

                                </div>

                                <button type="button" class="btn btn-info" onclick="save()">保存</button>
                                <button type="button" class="btn btn-warning" onclick="saveDraft()">保存为草稿</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include("base/footer.html"){} %>

</div>
<% include("base/bottom.html"){} %>

<script src="https://cdn.bootcss.com/ckeditor/4.12.1/ckeditor.js"></script>
<script src="https://cdn.bootcss.com/ckeditor/4.12.1/plugins/codesnippet/dialogs/codesnippet.js"></script>
<script src="https://cdn.bootcss.com/ckeditor/4.12.1/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
<script src="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>

<script>


    function saveDraft() {
        var editor_data = CKEDITOR.instances.content.getData();
        var title = $("#title").val();
        var topicName = $("#topicName").val();

        if (title === undefined || title === '') {
            toastr.error("请填写文章标题");
            return;
        }


        var params = JSON.stringify({
            "id":$("#id").val(),
            "title": title,
            "content": editor_data,
            "topicName":topicName
        });

        $.ajax({
            cache: false,
            type: "POST",
            contentType: 'application/json',
            url: "/draft/create",
            data: params,
            async: false,
            success: function (data) {
                if (data.code === 0) {
                    toastr.success(data.message);
                    $("#title").val('');
                    $("#id").val('');
                    $("#topicName").val('');
                    CKEDITOR.instances.content.setData("");
                } else {
                    toastr.error(data.message);
                }
            },
            error: function (data) {
                toastr.error(data.message);
            }
        });
    }



    function save() {
        var editor_data = CKEDITOR.instances.content.getData();
        var title = $("#title").val();
        var topicName = $("#topicName").val();



        if (title === undefined || title === '') {
            toastr.error("请填写文章标题");
            return;
        }
        if (editor_data === undefined || editor_data === '') {
            toastr.error("请填写文章内容");
            return;
        }

        if (topicName === undefined || topicName === '') {
            toastr.error("请填写文章标签");
            return;
        }

        var params = JSON.stringify({
            "id":$("#id").val(),
            "title": title,
            "content": editor_data,
            "topicName":topicName
        });

        $.ajax({
            cache: false,
            type: "POST",
            contentType: 'application/json',
            url: "/post/create",
            data: params,
            async: false,
            success: function (data) {
                if (data.code === 0) {
                    toastr.success(data.message);
                    $("#title").val('');
                    $("#id").val('');
                    $("#topicName").val('');
                    CKEDITOR.instances.content.setData("");
                } else {
                    toastr.error(data.message);
                }
            },
            error: function (data) {
                toastr.error(data.message);
            }
        });
    }

    $(function () {
        $('#topicName').tagsInput({
            width:'auto',
            inputPadding:100,
            defaultText:'回车确认'
        });


        CKEDITOR.replace('content', {
            language: 'zh-cn',
            height: 500,
            pasteFromWordRemoveFontStyles: false,
            pasteFromWordRemoveStyles: false,
            forcePasteAsPlainText: false,
            extraPlugins: 'codesnippet,colorbutton,font,image2,tableresize,uploadfile,find,preview,notification,sharedspace',
            codeSnippet_theme: 'monokai_sublime',
            filebrowserUploadUrl : "/post/upload?type=file",
            filebrowserBrowseUrl:"/post/file/browse?type=file",
            filebrowserImageUploadUrl: '/post/upload?type=images',
            filebrowserImageBrowseUrl: '/post/file/browse?type=images',
            rememberLastFolder : false
        });
        $('.textarea').wysihtml5()
    })
</script>

</body>
</html>
