<html>
<head>
    <meta charset="utf-8">
    <title>新建/编辑 标签</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">

    <!-- <link rel="stylesheet" href="/css/theme5.css"> -->
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend>新建/编辑 标签</legend>
                    </fieldset>
                </div>
                <div class="layui-card-body ">
                    <form class="layui-form layui-form-pane" action="" id="editAuthForm">
                        <input type="hidden" name="id" id="id" value="${editData.id!}">
                        <input type="hidden" name="ename" id="ename" value="${editData.ename!}">
                        <input type="hidden" name="shamId" id="shamId" value="${editData.shamId!}">

                        <div class="layui-form-item">
                            <input type="text" name="topicName" id="topicName" lay-verify="topicName" autocomplete="off"
                                   placeholder="请输入中文名称"
                                   class="layui-input" value="${editData.topicName!}">
                        </div>

                        <div class="layui-form-item">
                            <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="save">保存
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    layui.use(['form', 'layer', 'layedit'], function () {
        $ = layui.jquery;
        var form = layui.form;


        //自定义验证规则
        form.verify({
            topicName: function (value) {
                if (value === undefined || value === '' || value.length === 0) {
                    return '中文描述不能为空';
                }
            }
        });


        //监听提交
        form.on('submit(save)', function (data) {

            $.ajax({
                cache: false,
                type: "POST",
                contentType: 'application/json',
                url: "/tag/addup",
                data: JSON.stringify(data.field),
                async: false,
                success: function (data) {
                    if (data.code === 0) {
                        layer.msg(data.message, {
                            time: 2000
                        });

                        self.setTimeout(function () {
                            $("#editAuthForm")[0].reset();
                            layui.form.render();
                            $("#cname").val('');
                            $("#ename").val('');
                            $("#path").val('');
                            try {
                                parent.layui.table.reload('tagList');
                            } catch (err) {
                            }
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }, 2000);


                    } else {
                        layer.msg(data.message);

                    }
                },
                error: function (data) {
                    layer.msg(data.message);
                }
            });

            return false;
        });
    });
</script>

</body>
</html>