<html>
<head>
    <title>浏览文章视图</title>
    <% include("base/meta.html"){} %>

</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend>${viewData.title!}</legend>
                    </fieldset>
                </div>
                <div class="layui-card-body ">
                    ${viewData.content!}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>