<!DOCTYPE html>
<html>
<head>
    <% include("base/meta.html"){} %>
    <title> 作者后台管理 | 用户管理</title>
    <link href="https://cdn.bootcss.com/iCheck/1.0.2/skins/flat/blue.css" rel="stylesheet">
</head>
<body class="sidebar-mini skin-yellow-light">
<div class="wrapper">

    <% include("base/header.html"){} %>

    <% include("base/menu.html"){} %>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                用户列表
                <small>Version 1.0.1</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">仪表盘</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">用户管理</h3>

                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <input type="text" class="form-control input-sm" placeholder="搜索用户名、手机号、邮箱">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <th style="width: 50px;">姓名</th>
                                        <th style="width: 50px;">用户名</th>
                                        <th style="width: 100px;">邮箱</th>
                                        <th style="width: 100px;">手机号</th>
                                        <th style="width: 100px">操作</th>
                                    </tr>
                                    <tr>
                                        <td><a href="read-mail.html">张三</a></td>
                                        <td>zhangsan</td>
                                        <td>zhangsan@ijson.com</td>
                                        <td>136********</td>
                                        <td>停用|更改密码</td>
                                    </tr>
                                    <tr>
                                        <td><a href="read-mail.html">张三</a></td>
                                        <td>zhangsan</td>
                                        <td>zhangsan@ijson.com</td>
                                        <td>136********</td>
                                        <td>停用|更改密码</td>
                                    </tr>
                                    <tr>
                                        <td><a href="read-mail.html">张三</a></td>
                                        <td>zhangsan</td>
                                        <td>zhangsan@ijson.com</td>
                                        <td>136********</td>
                                        <td>停用|更改密码</td>
                                    </tr>
                                    <tr>
                                        <td><a href="read-mail.html">张三</a></td>
                                        <td>zhangsan</td>
                                        <td>zhangsan@ijson.com</td>
                                        <td>136********</td>
                                        <td>停用|更改密码</td>
                                    </tr>
                                    <tr>
                                        <td><a href="read-mail.html">张三</a></td>
                                        <td>zhangsan</td>
                                        <td>zhangsan@ijson.com</td>
                                        <td>136********</td>
                                        <td>停用|更改密码</td>
                                    </tr>


                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                            <!-- /.mail-box-messages -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /. box -->
                </div>
            </div>
        </section>
    </div>
    <% include("base/footer.html"){} %>

</div>
    <% include("base/bottom.html"){} %>
</body>
</html>
