<!DOCTYPE html>
<html>
<head>
    <% include("base/meta.html"){} %>
    <title> 作者后台管理 | 用户列表</title>
    <link href="https://cdn.bootcss.com/datatables/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include("base/header.html"){} %>

    <style type="text/css">
        .post-list-disabled {
            color: red
        }

        table {
            table-layout: fixed;
        }

        th, td {
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
        }
    </style>

    <% include("base/menu.html"){} %>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                用户列表
                <small>Version 1.0.1</small>
                <small> 查看用户注册情况</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">用户列表</li>
            </ol>
        </section>


        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">用户列表</h3>
                        </div>
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>英文标识</th>
                                    <th>角色</th>
                                    <th>注册时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <% include("base/footer.html"){} %>

</div>
<% include("base/bottom.html"){} %>
<script src="https://cdn.bootcss.com/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.bootcss.com/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<script type="text/javascript" src="/js/date-util.js"></script>
<script>
    $(function () {
        load()
    });


    function load() {
        var table = $('#example1').DataTable({
            "ajax": {
                "url": "/user/list",
                "method": "post"
            },
            "destroy": true,
            "serverSide": true,
            "bPaginate": true,//分页工具条显示
            "pagingType": "full_numbers",
            "flexibleWidth": false,
            "responsive": true,
            "bAutoWidth": false,
            "lengthMenu": [15, 30, 45],
            "columns": [
                {"data": "cname", width: 130},
                {"data": "ename", width: 130},
                {"data": "roleCname", width: 130},
                {
                    "data": "createTime", width: 130, "render": function (data, type, row) {
                        return myFormatConversion.timeconv(data);
                    }
                },
                {
                    "data": "enable", width: 30, "render": function (data, type, row) {
                        if (true === row.enable) {
                            return "启用"
                        } else {
                            return "<span class='post-list-disabled'>停用</span>"
                        }
                    }
                },
                {
                    "data": null, width: 200, "render": function (data, type, row) {
                        var str = "<div class=\"btn-group\">\n";

                        str += "        <button type=\"button\" class=\"btn btn-info\"    onclick=\"edit('" + row.ename + "','" + row.shamId + "')\">编辑</button>\n";

                        if(row.enable){
                            str += "        <button type=\"button\" class=\"btn btn-warning\" onclick=\"enable('" + row.ename + "','" + row.shamId + "','" + row.enable + "', )\">停用</button>\n";
                            str += "        <button type=\"button\" class=\"btn btn-danger\"  disabled='disabled'>删除</button>\n";
                        }else{
                            str += "        <button type=\"button\" class=\"btn btn-success\" onclick=\"enable('" + row.ename + "','" + row.shamId + "','" + row.enable + "', )\">启用</button>\n";
                            str += "        <button type=\"button\" class=\"btn btn-danger\"  onclick=\"deleted('" + row.ename + "','" + row.shamId + "')\">删除</button>\n";

                        }
                        str += "  </div>\n";
                        return str;
                    }
                }
            ],
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Chinese.json"
            }
        });
    }
</script>

</body>
</html>